* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  line-height: 1.75em;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
}

.wrapper {
  width: 100%;
  position: relative;
  top: 0;
}

.section-wrapper {
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

header {
  width: 100%;
  position: absolute;
}

a {
  font-size: 1em;
  font-weight: 600;
  padding: 1rem;
  text-decoration: none;
}

p {
  font-size: 16px;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  line-height: 1.875;
  color: #787F8C;
}

h1 {
  font-size: 50px;
  color: #4A4A4A;
  letter-spacing: 1px;
  margin: 40px 0px;
}

h2 {
  font-size: 54px;
  color: #00DD99;
}

.h2-alt {
  color: white;
  text-align: center;
}

h3 {
  font-size: 20px;
  color: #4A4A4A;
  font-weight: 300;
}

h4 {
  font-size: 18px;
  margin: 15px 0px 0px 0px;
  font-weight: 600;
}

h5 {
  font-size: 16.5px;
  font-weight: 600;
  color: #4A4A4A;
  margin: 10px 0px;
}

h6 {
  font-size: 16px;
  font-weight: 700;
  margin: 15px 0px 0px 0px;
}

button {
  border: 0px solid transparent;
  background-color: transparent;
  font-weight: 700;
  cursor: pointer;
}

button a {
  color: white;
}

.logo {
  height: 40px;
  position: absolute;
  left: 15%;
  top: 60px;
}


/************ Home Page CSS ************/

.main {
  background-color: white;
}

.main-nav {
  max-width: 385px;
  position: relative;
  float: right;
  right: 6.5vw;
  top: 55px;
  overflow: hidden;
  z-index: 999;
}

.main-nav ul {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: space-around;
}

.main-nav ul li {
  list-style: none;
  display: inline-block;
}

.main-nav ul li a {
  transition: color 200ms ease-in-out;
  color: #4A4A4A;
}

.main-nav ul li a:hover,
.footer-nav ul li a:hover {
  color: #00DD99;
  transition: color 200ms ease-in-out;
}

.btn {
  color: #00DD99;
  padding: 10px 20px;
  border-radius: 100px;
  font-size: 14px;
  transform: scale(1);
  transition: transform 350ms ease-in-out;
}

.btn:hover {
  transform: scale(1.08);
  transition: all 350ms ease-in-out;
  cursor: pointer;
}

.contact-btn {
  border: 2px solid #00DD99;
  position: relative;
  z-index: 999;
  overflow: hidden;
}

.contact-btn:hover {
  color: white;
  transition: color 150ms ease-in;
}

.contact-btn:hover .contact-bg {
  top: -14px;
  transition: all 100ms ease-in-out;
}

.contact-bg {
  background-color: #00DD99;
  height: 100%;
  width: 100%;
  position: absolute;
  right: -40px;
  top: 35px;
  border-radius: 100px;
  z-index: -999;
  transition: all 100ms ease-in-out;
}

.resume-btn {
  background-color: white;
  padding: 18px 30px;
  margin: 30px 0;
}

.resume-btn a {
  color: #00DD99;
}

.portfolio-btn,
.message-btn {
  margin-top: 35px;
  padding: 15px 35px;
  font-size: 14px;
  position: relative;
  background-color: transparent;
  color: white;
  background-color: #00DD99;
}

.message-btn {
  background-color: transparent;
  border: 0px solid transparent;
}

.message-btn-bg {
  height: 100%;
  width: 100%;
  background-color: #00DD99;
  border-radius: 100px;
  position: absolute;
  left: -40px;
  top: -13.5px;
  z-index: -999;
  transition: all 125ms ease-in;
}

.message-btn span {
  position: relative;
  transition: all 200ms ease-out;
}

.message-btn:hover span {
  left: 200px;
  transition: all 200ms ease-out;
}

.message-btn:hover .message-icon {
  right: 63.5px;
  top: 16.5px;
  transition: all 200ms ease-in-out;
}

.message-btn:hover .message-btn-bg {
  height: 65px;
  width: 65px;
  left: 20px;
  transition: all 125ms ease-in;
}

.message-icon {
  position: absolute;
  right: 200px;
  top: 5px;
  height: 70%;
}

.main-wrapper {
  display: flex;
  justify-content: flex-start;
  padding: 17.5% 0;
  width: 100%;
  background-image: url(img/drake-main.jpg);
  background-repeat: no-repeat;
  background-position: bottom right 150px;
  background-size: 275px;
  min-height: 90vh;
  max-height: 100vh;
}

.main-intro {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 15%;
}

.main-txt {
  max-width: 535px;
  position: relative;
}

.intro-txt {
  color: #9B9B9B;
  line-height: 1.85;
  max-width: 405px;
  font-weight: 300;
  font-size: 17px;
}

.about-wrap {
  background-color: #00DD99;
  padding: 100px 0px;
  transform: skewY(-3deg);
}

.about-cnt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8.5% 0px;
  color: white;
  transform: skewY(3deg);
}

.about-cnt p {
  max-width: 675px;
  text-align: center;
  color: white;
  font-size: 16.5px;
  font-weight: 500;
  padding: 0 30px;
}

@media (min-height: 1050px) {
  .about-cnt p {
    max-width: 745px;
    font-size: 18px;
  }
}

.title-left {
  left: 8.5vw;
  position: relative;
  display: inline-block;
  padding-top: 130px;
  z-index: 999;
  margin-top: 0;
}

.skills-wrapper {
  margin-top: 40px;
}

.skills-cnt {
  margin: 10px auto 100px auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  max-width: 505px;
  padding: 20px 0 7.5px 0;
}

.skills-cnt p {
  margin: 5px 0px;
}

.skills-cnt li {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin-bottom: 25px;
  padding-left: 80px;
  min-width: 45%;
}

.skills-img {
  background-repeat: no-repeat;
  background-position: top 17.5px left;
  background-size: 45px;
}

.skills-cnt-ux {
  background-image: url(img/research.jpg);
}

.skills-cnt-front {
  background-image: url(img/code.jpg);
}

.skills-cnt-design {
  background-image: url(img/ux.jpg);
}

.portfolio-wrapper {
  padding-top: 20px;
  z-index: 999;
  position: relative;
}

.portfolio-item {
  padding: 80px 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
}

.port-cnt-wrap {
  max-width: 375px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  align-self: center;
  margin-right: 80px;
}

.port-cnt-wrap-left {
  align-items: flex-end;
  padding-right: 0;
  margin-left: 80px;
}

.dg-port {
  padding: 0px 0px 100px 0px;
  position: relative;
  margin: 0;
}

.bmo-port {
  padding: 185px 0px;
}

.portfolio-item p {
  font-size: 14px;
  margin: 5px 0px;
}

.portfolio-right {
  margin: 0 auto;
  /* transform: skewY(-3deg); */
}

.portfolio-bg {
  z-index: -1;
  position: absolute;
  background-color: #FAFAFA;
  height: 100%;
  width: 100vw;
  transform: skewY(-3deg);
}

.testimonial-bg {
  background-color: #00DD99;
  z-index: -1;
  position: absolute;
  height: 100%;
  width: 100vw;
  transform: skewY(-3deg);
}

.portfolio-left {
  position: relative;
  text-align: right;
  margin: 0 auto;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
}

.bmo-portfolio {
  width: 32.5%;
  height: 42.5%;
}

.dg-portfolio {
  height: 500px;
  transform: translateY(20px);
  transition: transform 0.35s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.dg-portfolio:hover {
  transform: translateY(10px);
  transition: transform 0.35s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.atm-portfolio {
  width: 22.5%;
  transform: translateY(20px);
  transition: transform 0.35s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.atm-portfolio:hover {
  transform: translateY(10px);
  transition: transform 0.35s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.test-wrapper {
  display: flex;
  padding: 9% 0;
}

.test {
  justify-content: center;
  flex-direction: column;
  align-items: center;
  align-self: center;
  text-align: center;
  max-width: 65%;
  margin: 0 auto;
  color: white;
}

.asif-test {
  display: flex;
  justify-content: center;
  align-self: center;
}

.test h4 {
  line-height: 35px;
  max-width: 550px;
  font-weight: 500;
}

.test-img {
  width: 65px;
  margin-top: 20px;
}

.test p {
  color: white;
  margin: 0;
  font-size: 16px;
  font-weight: 400;
}

.contact {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15.5% 0;
}

.contact-wrap p {
  font-size: 18px;
}

footer {
  background-color: rgba(216, 216, 216, 0.15);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 15%;
}

footer p {
  color: #9B9B9B;
}

.footer-nav ul {
  display: flex;
  flex-direction: row;
}

.footer-nav ul li {
  list-style: none;
  display: flex;
  justify-content: center;
  align-content: space-between;
}


/************ End Home Page CSS ************/


/************ Dolce & Gabbana Case Study CSS ************/

.port-main {
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.main-dg {
  background-image: url('img/dg-portfolio.jpg');
}

.port-main-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.back-nav {
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 300px;
  top: 50px;
  left: 5.5%;
}

.back-btn {
  left: 100px;
  width: 30px;
  height: 30px;
}

.port-case-title {
  color: white;
}

.case-facts {
  padding: 0;
  color: white;
  position: absolute;
  bottom: 8.5%;
}

.case-facts li {
  display: inline-block;
  padding: 0px 20px;
  margin: 0 auto;
}

.case-facts-gold {
  padding: 0px 5px;
  font-weight: 800;
  color: #948348;
}

.case-facts-orange {
  padding: 0px 5px;
  font-weight: 800;
  color: #F4801D;
}

.project-over {
  text-align: center;
  padding: 100px 0;
}

.dg-over {
  background-color: #948348;
}

.project-over-title {
  font-size: 40px;
}

.project-over-wrap {
  max-width: 650px;
  text-align: center;
}

.project-over p {
  color: white;
  margin-top: 25px;
}

.analysis-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 60px;
}

.port-section-title {
  color: #4A4A4A;
  font-size: 32px;
  text-align: center;
}

.port-analysis {
  margin-top: 100px;
}

.dolce-form {
  width: 100%;
  height: auto;
  margin: 20px auto;
}

.port-width-wrap {
  max-width: 650px;
  margin: 0 auto;
}

.port-bg-wrap {
  position: absolute;
  width: 100%;
  background-color: #4A4A4A;
  transform: skewY(3deg);
}

.dg-analysis-title {
  color: black;
  font-weight: 600;
}

.persona {
  text-align: center;
  margin-top: 80px;
}

.persona-img {
  width: 30%;
}

.design-title {
  text-align: center;
  margin-top: 60px;
}

.design-goals ul {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.design-goals ul li {
  display: inline-block;
  margin: 15px 0px;
}

.design-goal-number {
  list-style: none;
  margin: 40px 0px;
  padding: 0;
}

.design-goal-number p {
  margin: 10px auto;
  max-width: 45%;
}

.design-goal-number li span {
  font-weight: 700;
  font-size: 22px;
}

.dg-design-goal {
  color: #948348;
}

.atm-design-goal {
  color: #F4801D;
}

.journey-title {
  margin: 0;
  padding-bottom: 30px;
}

.customer-journey {
  background-color: #FAFAFA;
  padding: 100px 0px;
}

.journey-cnt {
  text-align: center;
}

.journey-img {
  margin: 40px 0px 0px 0px;
  width: 75%;
}

.application-wireframes {
  margin-top: 100px;
}

.dg-iphone-wireframes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 60px;
  padding: 0;
}

.dg-iphone-wireframes li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  width: 33.33%;
  margin: 15px 0px;
}

.dg-iphone-wireframes li h5 {
  margin-top: 25px;
}

.dg-iphone-wire {
  width: 200px;
  height: auto;
  margin: 0 auto;
}

.final-design-bg {
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(img/dg-final.jpg);
  display: flex;
  justify-content: center;
  align-items: center;
}

.typography {
  text-align: center;
  padding: 40px 0px;
}

.typography-1 {
  font-family: Futura;
  padding-bottom: 20px;
}

.typography-2 {
  font-family: Avenir;
}

.typography-3 {
  font-family: "Raleway";
}

.color {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.palette {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  max-width: 850px;
}

.palette span {
  display: inline-block;
  text-align: center;
  padding: 0px 20px;
}

.palette-1 {
  background-color: #9B9B9B;
}

.palette-2 {
  background-color: #8E8E93;
}

.palette-3 {
  background-color: #4A4A4A;
}

.palette-4 {
  background-color: #948348;
}

.palette-5 {
  background-color: #F5811F;
}

.palette-6 {
  background-color: #E9E9E9;
}

.palette-7 {
  background-color: #151515;
}

.final-design-mockup {
  margin: 40px 0px;
}

.iphone-mock {
  max-height: 611px;
}

.final-design-mockup {
  margin-top: 60px;
}

.final-mockups {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 80px 0px;
}

.final-design-txt {
  background-repeat: no-repeat;
  background-position: left top;
  background-size: contain;
  max-width: 450px;
  display: inline-block;
}

.final-design-dg {
  background-image: url(img/dg-port-bg.jpg);
}

.final-design-atm {
  background-image: url(img/atm-bg-right.jpg);
}

.final-design-txt h4 {
  margin-top: -10px;
}

.final-right {
  position: relative;
  padding-left: 130px;
  background-size: 110px;
  min-height: 180px;
}

.final-left {
  background-repeat: no-repeat;
  background-position: right top;
  background-size: 110px;
  max-width: 450px;
  display: inline-block;
  position: relative;
  padding-right: 80px;
  min-height: 180px;
}

.final-design-dg-left {
  background-image: url(img/dg-port-bg-2.jpg);
}

.final-design-atm-left {
  background-image: url(img/atm-bg-left.jpg);
}

.dg-footer {
  background-color: #948348;
}

.atm-footer {
  background-color: #F5811F;
}

footer p {
  color: #4A4A4A;
}

.footer-nav ul li a {
  color: #4A4A4A;
}

.footer-nav ul li a:hover {
  color: #00DD99;
}


/* ATM Case Study */

.main-atm {
  background-image: url(img/atm-portfolio.jpg);
}

.atm-over {
  background-color: #F4801D;
}

.card-sorting {
  margin-top: 40px;
}

.card-sorting-img {
  margin: 20px auto;
  max-width: 650px;
  width: 100%;
}

.card-sorting p {
  margin-bottom: 30px;
}

.atm-kiosk-nav {
  text-align: center;
}

.atm-kiosk-nav {
  color: #F4801D;
}

.kiosk-nav ul {
  list-style: none;
}

.testing-cnt {
  padding-top: 20px;
}

.testing-overview-cnt {
  margin: 40px 0px;
}

.final-atm-kiosk-screen {
  margin: 45px 0px;
}

.final-atm-kiosk-screen h5 {
  margin-bottom: 15px;
  font-weight: 700;
}

.atm-kiosk-home {
  width: 100%;
}

.web-app-redesign {
  background-color: #FAFAFA;
}

.atm-iphone-analysis-img {
  width: 611px;
  height: auto;
}

.redesign-cnt {
  padding-top: 60px;
  display: flex;
  flex-direction: column;
}

.webapp-analysis {
  margin-top: 40px;
}

.atm-iphone-analysis-img {
  width: 305px;
  height: auto;
  margin: 35px auto;
}

.atm-analysis-list {
  list-style: none;
  padding: 15px 0px;
}

.atm-analysis-list li {
  margin: 15px 0px;
  font-weight: 400;
  color: #787F8C;
}

.atm-wireframes {
  width: 100%;
  margin: 20px 0px;
}

.design-iteration-cycles {
  margin-bottom: 50px;
}

.atm-final-redesign {
  height: 100vh;
  width: 100%;
  background-image: url(img/atm-ui-final.jpg);
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.final-redesign-cnt {
  margin-top: 80px;
}


/************ End Dolce & Gabbana Case Study CSS ************/


/* Media Queries */


/* Main Page Media Queries */

@media (min-height: 1050px) {
  .main-wrapper {
    background-image: url(img/Drake-main-lrg.jpg);
    background-size: 33.5%;
    background-position: bottom right 8.5%;
  }
}

@media (max-width:1085px) {
  .main-wrapper {
    background-position: bottom right 100px;
  }
  .main-intro {
    margin-left: 10%;
  }
  .logo {
    left: 10%;
  }
}

@media (max-width:940px) {
  .main-wrapper {
    background-position: bottom right 30px;
    background-size: 255px;
  }
  .main-intro {
    margin-left: 7.5%;
  }
  .logo {
    left: 7.5%;
  }
}

@media (max-width:805px) {
  .main-wrapper {
    background-image: none;
  }
  .main-intro {
    margin: 0 auto;
    text-align: center;
  }
  .main-txt p {
    text-align: center;
    margin: 0 auto;
  }
}

@media (max-width:550px) {
  .logo {
    display: none;
  }
  header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FAFAFA;
    padding: 20px 0px;
  }
  .main-nav {
    right: 0;
    top: 0;
  }
  .main-nav ul li a {
    padding: 0px 15px;
  }
}

@media (max-width:465px) {
  .main-txt {
    padding: 0px 25px;
  }
  .main-txt h1 {
    line-height: 1.05;
  }
}


/* End of Main Page Media Queries */


/* About Section Media Queries */

@media(max-width:465px) {
  #about {
    padding: 50px 0;
  }
  .resume-btn {
    margin: 30px 0;
  }
}


/* End About Section Media Queries */


/* Skills Section Media Queries */

@media (max-width:780px) {
  .skills-wrapper {
    padding-bottom: 30px;
  }
  .skills-cnt {
    text-align: center;
    margin: 35px auto 60px auto;
    max-width: 275px;
  }
  .skills-cnt li {
    margin-bottom: 60px;
    padding-left: 0px;
    padding-top: 60px;
  }
  .skills-img {
    background-position: top center;
  }
  .title-left {
    padding-top: 50px;
  }
}


/* End Skills Section Media Queries */


/* Portfolio Section Media Queries */

@media(max-width:780px) {
  .portfolio-item {
    flex-direction: column-reverse;
    text-align: center;
  }
  .port-cnt-wrap {
    justify-content: center;
    align-items: center;
    margin: 25px 0px 0px 0px;
    max-width: 450px;
  }
  .dg-port {
    margin-top: 25px;
  }
  .bmo-port {
    padding: 85px 0px 100px 0px;
    height: 100%;
  }
  .portfolio-btn {
    margin-top: 20px;
  }
  .dg-portfolio {
    width: 150px;
    height: auto;
  }
  .atm-portfolio {
    width: 150px;
    height: auto;
  }
  .bmo-portfolio {
    width: 200px;
    height: auto;
  }
}

@media(max-width:465px) {
  .port-cnt-wrap {
    padding: 0px 25px;
  }
}


/* End Portfolio Section Media Queries */


/* Contact Section Media Queries */

@media(max-width:465px) {
  .contact-wrap p {
    font-size: 14.5px;
  }
}


/* End Contact Section Media Queries */


/* Footer Section Media Queries */

@media (max-width:950px) {
  footer {
    flex-direction: column-reverse;
  }
  footer nav ul {
    padding: 0;
    margin: 10px 0;
  }
  footer p {
    font-size: 14px;
    text-align: center;
  }
}


/* End Footer Section Media Queries */


/* DG Media Queries */

@media(max-width:850px) {
  .palette {
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
  }
  .section-wrapper {
    padding-left: 30px;
    padding-right: 30px;
  }
  .final-design-dg-left {
    background-image: none;
  }
  .final-design-atm-left {
    background-image: none;
  }
  .final-design-dg {
    background-image: none;
  }
  .final-design-atm {
    background-image: none;
  }
  .final-mockups {
    flex-direction: column;
    align-items: center;
  }
  .final-left-port {
    flex-direction: column-reverse;
  }
  .final-right {
    padding: 40px 0px 20px 0px;
    text-align: center;
  }
  .final-left {
    padding: 40px 0px 20px 0px;
    text-align: center;
  }
  .iphone-mock {
    width: 250px;
    height: auto;
  }
}

@media(max-width:725px) {
  .case-facts li {
    display: block;
    text-align: center;
  }
  .dg-iphone-wireframes {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .dg-iphone-wireframes li {
    width: 50%;
  }
}

@media(max-width:625px) {
  .port-case-title {
    font-size: 42px;
    max-width: 250px;
    text-align: center;
    line-height: 1.5;
  }
}

@media(max-width:415px) {
  .port-section-title {
    line-height: 1.5;
  }
}
